*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
    --sfondo-main: rgba(0, 0, 0, 1);
    --sfondo-footer:rgba(34, 34, 34, 1);
    --colore-testo:rgba(255, 255, 255, 1);
  }
 

  main{
      background-color: var(--sfondo-main);
      width: 100vw;
      height: 980px;
  }
  footer{
      height: 85px;
      width: 100vw;
      background-color: var(--sfondo-footer);
      display: flex;
      justify-content: space-between;
      
  }
  .contain{
      color: var(--colore-testo);
      height: 40px;
      margin-bottom: 50px;

  }
  .speaker{
    padding: 5px;
    border-radius: 5px;
    background-color:rgba(74, 74, 74, 1);
    width: 120px;

  }
  .speaker-active{
      color: var(--colore-testo);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
         

  }
  .fa-microphone{
      font-size: 30px;
  }
  .arrows{
      padding: 5px;
      background-color:rgba(74, 74, 74, 1);
      border-radius: 5px;
      width: 25px;
      margin-left: 5px;
      margin-right: 5px;
  }
  .contain{
      display: flex;
      justify-content: flex-end;
      align-items: center;
  }
  .Display-view{
      display: flex;
      justify-content: center;
      
  }
  .text-img{
      color: var(--colore-testo);
      background-color: rgba(96, 109, 119, 1);
      padding: 5px;
      width: 130px;
      position:absolute;
      bottom: 4px;
      left: 0;
      opacity: 0.8;
  }
  .contain-img{
      max-width: 250px;
      position: relative;
      margin-left: 5px;
      margin-bottom: 10px;
  }
  img{
      width: 180px;
      height: 160px;
      object-fit: cover;
      
}
.mute{
    margin-top: 5px;

}
.contain-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90px;
    height: 80px;

}
.fa-angle-up{
    color: var(--colore-testo);
}
.fa-video{
    font-size: 30px;

}
.fa-user-plus{
    font-size: 30px;

}
.section-left, .section-center, .section-right{
    display: flex;
}

.section-right{
    width: 150px;
    background-color: rgba(74, 74, 74, 1);
}
.meeting{
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;

}
.fa-user-group{
    font-size: 30px;
}
.fa-chart-column{
    font-size: 30px;
}
.fa-share-from-square{
    font-size: 30px;
}
.fa-comment{

    font-size: 30px;
}
.fa-record-vinyl{
    font-size: 30px;
}
.fa-table-cells-large{
    font-size: 30px;
}
.fa-plus{
    font-size: 30px;

}
.green{
color:green;
display: flex;
align-items: center;
justify-content: center;
flex-flow: column;
}